body {
	background-color: #000000;
	margin:auto;
	overflow: hidden;
	font-size: 16px;
	font-family: Courier, monospace;
	text-align: center;
	color: white;
	box-sizing: border-box;
}
/*
* {outline: 1px solid red !important;}
*/


/*landing page*/

p {
	cursor: default;
}

button:hover {
	cursor:pointer;
}

#landing {
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 120px;
}
	
a {
	text-decoration: none;
	font-weight: bold;
	color:#0078ff;
}
#log {display: none;}

#comenzar  {
	background: black;
	color: white;
	text-align: center;
	font-size: 20px; 
	font-weight: bold;
	padding: 5px 10px;
	margin-top: 20px;
	transition: all 500ms;
	border:none;
}


.hidden {
	visibility: hidden;
}

/*controls bar*/
#control {
	color:#fff;
	position: absolute;
	top: 10px; 
	width: 100%;
	z-index:100;
	border-bottom: 1px solid white;
	padding: 1px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
}

.seccion {
	width: 20%;
	margin: 0;
	padding-bottom: 15px;
}
.seccion p {
	
	font-size: 14px;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin:5;
    display: none;
}
/*botones*/
#startRecordingPath{
	color: red;
	border-radius: 100%;
	padding: 4px 7px;
	/*float: left;
	margin-left: 30px;*/
}

.boton {
	border: 0px;	
	background: black;
	color:white;
	text-align: center;
	font-size: 21px; 
	transition: all 300ms;
	margin-bottom:0;
	padding: 5;
}

button i {
	cursor: pointer;
}

#startRecordingPath2{
	color: red;
	border-radius: 100%;
	padding: 4px 7px;
}

#stopRecordingPath{
	color: white;
	border-radius: 5%;
	padding: 4px 6px;
	/*float: left;
	margin-left: 10px;*/
}

#stopRecordingPath2{
	color: white;
	border-radius: 100%;
	padding: 4px 6px;
	margin-left: 10px;

}

#record{
	color: red;
	border-radius: 100%;
	padding: 4px 7px;
}

#stop{
	color: white;
	border-radius: 5%;
	padding: 4px 6px;
}

#record.active {
	border: 0px solid red;
	background-color: red;
    color: black;
} 


#info {
	color: white;
	border-radius: 5%;
}

#muteSound{
	color: white;
	border-radius: 5%;
	padding: 4px 5px;
	border:2px solid black;
}


