body {
	background-color: #CCE0CC;
	margin:auto;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
	color: var(--color-foreground);
	box-sizing: border-box;
	--color-foreground: #2C202C
}

* {
	font-family: "Fragment mono", monospaced;
}

/*landing page*/

p {
	cursor: default;
}



#landing {
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	background: #CCE0CC;
}
	
a {
	text-decoration: none;
	font-weight: bold;
	color:#384c63;
}

a, button {
	letter-spacing: 0;
	transition: letter-spacing 400ms linear;

}

button:hover {
	cursor:pointer;
}
button:not(.boton--icono):hover, a:hover {
	letter-spacing: 0.3em;
}

#log {display: none;}

#comenzar  {
	background: #CCE0CC;
	color: var(--color-foreground);
	text-align: center;
	padding: 5px 10px;
	margin-top: 20px;
	transition: all 500ms;
	border:none;
}


.hidden {
	visibility: hidden;
}

/*controls bar*/
#control {
	color:#fff;
	position: absolute;
	top: 10px; 
	width: 100%;
	z-index:100;
	border-bottom: 1px solid var(--color-foreground);
	padding: 1px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
}

.seccion {
	width: 20%;
	margin: 0;
	padding-bottom: 15px;
}
.seccion p {
	
	font-size: 14px;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin:5;
    display: none;
}
/*botones*/
#startRecordingPath{
	color: red;
	border-radius: 100%;
	padding: 4px 7px;
	/*float: left;
	margin-left: 30px;*/
}

.boton {
	border: 0px;	
	background: #CCE0CC;
	color:var(--color-foreground);
	text-align: center;
	transition: all 300ms;
	margin-bottom:0;
	padding: 5;
	transition: all 300ms ease-in;
}
.boton--icono {
	font-size: 20px;
}

button i {
	cursor: pointer;
}

#startRecordingPath2{
	color: red;
	border-radius: 100%;
	padding: 4px 7px;
}

#stopRecordingPath{
	color: var(--color-foreground);
	border-radius: 5%;
	padding: 4px 6px;
	/*float: left;
	margin-left: 10px;*/
}

#stopRecordingPath2{
	color: var(--color-foreground);
	border-radius: 100%;
	padding: 4px 6px;
	margin-left: 10px;

}

#record{
	color: red;
	border-radius: 100%;
	padding: 4px 7px;
}

#stop{
	color: var(--color-foreground);
	border-radius: 5%;
	padding: 4px 6px;
}

#record.active {
	border: 0px solid red;
	background-color: red;
    color: var(--color-foreground);
} 


#info {
	color: var(--color-foreground);
	border-radius: 5%;
}

#muteSound{
	color: var(--color-foreground);
	border-radius: 5%;
	padding: 4px 5px;
	border:2px solid var(--color-foreground);
}


